/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* Layout */
.container {
    width: 100%;
    padding: 0 1rem;
}

.blu {
    background-color: rgb(0 132 253);
}

.violet {
    background-color: rgb(151 146 228);
}

/* Utilities */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.column {
    flex-direction: column;
    gap: 25px;
}

.padding {
    padding: 30px 0;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.logo {

    /* debug */
    height: 50px;
    width: 100px;
    background-color: red;
}

.header-link {
    display: none;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.button-start {
    border-radius: 10px;
    background-color: white;
    border: none;
    padding: 0 5px;
}

@media screen and (min-width: 992px) {
    .container {
        margin: 0 auto;
        justify-content: space-around;
    }

    .header-link {
        display: block;
    }

    .menu {
        display: none;
    }
}

/* MAIN */
/* prime colonne */
.demo-app {
    margin: 100px auto 0 auto;
    background-color: rgb(181 221 255);

    /* debug */
    height: 600px;
    width: 80%;
}

.clean-code, .web-design, .development, .branding {
    background-color: rgb(181 221 255);
    margin: 25px auto;

    /* debug */
    width: 80%;
    height: 300px;
}

@media screen and (min-width: 768px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .demo-app {
        width: 65%;

        /* debug */
        height: 400px;
    }

    .clean-code {
        width: 31%;
        margin-top: 100px;
        margin-bottom: 0;

        /* debug */
        height: 400px;
    }

    .web-design, .development, .branding {
        width: 31%;
        margin-top: 0;

        /* debug */
        height: 300px;
    }
}

@media screen and (min-width: 992px) {
    .columns {
        width: 75%;
    }

    .demo-app, .clean-code,
     .web-design, .development, .branding {
        
        /* debug */
        height: 200px;
    }
}

/* strategic plan */
.strategic-plan {
    margin: 0 auto;
    width: 76%;

    /* debug */
    height: 600px;
    border: 1px solid black;
}

.app-development {
    background-color: white;
    margin: 20px auto;
    border-radius: 40px;
    width: 76%;

    /* debug */
    height: 600px;
}

@media screen and (min-width: 768px) {
    .strategic-plan, .app-development {
        width: 95%;
    }
}

@media screen and (min-width: 992px) {
    .violet {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 30px 160px;
    }

    .container .strategic-plan {

        /* debug */
        height: 400px;
    }

    .container .app-development {
        margin: 0;

        /* debug */
        height: 400px;
    }
}